<!doctype html>
<html lang="en">
  <head>
    <!-- Stylesheets -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Javascript -->
    <script src="/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/js/angular.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script src="/js/controller.js" type="text/javascript"></script>
    <script src="/js/script.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>

  </head>

  <body ng-app="app">

    <div ng-controller="mainController">

      <div>Du är inte inloggad</div>
      <div>{{response.data_total_used}}</div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{procent}}%;">
        <span class="sr-only">60% Complete</span>
        </div>
      </div>

    </div>
  </body>
</html>
