<!doctype html>

<html>

  <head>

  </head>

  <body>

    <div>

      <div>Du är inloggad ditt ip är: <%= ip %></div>
      <div>Authenticated: <%= authenticated %></div>
      <div>Data used: <%= data_downloaded_used %></div>

    </div>
  </body>
</html>
